{% extends "base.html" %}
{% block title %}Job Search{% endblock %}

{% block extra_js %}
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
          rel="stylesheet"/>
    <script id="tailwind-config">
        tailwind.config = {
            darkMode: "class",
            theme: {
                extend: {
                    colors: {
                        "primary": "#137fec",
                        "primary-dark": "#0e62b8",
                        "background-light": "#f6f7f8",
                        "background-dark": "#101922",
                        "surface-light": "#ffffff",
                        "surface-dark": "#1a2634",
                        "text-primary-light": "#1f2937",
                        "text-secondary-light": "#6b7280",
                        "text-primary-dark": "#f3f4f6",
                        "text-secondary-dark": "#9ca3af",
                    },
                    fontFamily: {
                        "display": ["Inter", "sans-serif"]
                    },
                    borderRadius: {"DEFAULT": "0.25rem", "lg": "0.5rem", "xl": "0.75rem", "full": "9999px"},
                },
            },
        }
    </script>
     <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
        rel="stylesheet" />
    <script id="tailwind-config">
        tailwind.config = {
            darkMode: "class",
            theme: {
                extend: {
                    colors: {
                        "primary": "#137fec",
                        "primary-dark": "#0e62b8",
                        "background-light": "#f6f7f8",
                        "background-dark": "#101922",
                        "surface-light": "#ffffff",
                        "surface-dark": "#1a2634",
                        "text-primary-light": "#1f2937",
                        "text-secondary-light": "#6b7280",
                        "text-primary-dark": "#f3f4f6",
                        "text-secondary-dark": "#9ca3af",
                    },
                    fontFamily: {
                        "display": ["Inter", "sans-serif"]
                    },
                    borderRadius: { "DEFAULT": "0.25rem", "lg": "0.5rem", "xl": "0.75rem", "full": "9999px" },
                },
            },
        }
    </script>
{% endblock %}

{% block content %}

    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <div class="mb-8">
            <h1 class="text-3xl font-bold text-gray-900 dark:text-white">Job</h1>
            <p class="mt-2 text-text-secondary-light dark:text-text-secondary-dark">See what jobs are recommended to you.</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% if page_obj %}
                {% for job in page_obj %}
                    <article
                            class="bg-surface-light dark:bg-surface-dark rounded-xl border border-gray-200 dark:border-gray-800 shadow-sm hover:shadow-md transition-all group flex flex-col h-full">
                        <div class="p-4 flex-1">
                            <div class="flex justify-between items-start mb-4">
                                <div class="flex gap-3">
                                    <img alt="Tech Company Logo" class="w-10 h-10 rounded-lg object-cover"
                                         data-alt="Minimalist abstract blue square logo"
                                         src="https://lh3.googleusercontent.com/aida-public/AB6AXuBoHf3dXrOvGJicqjWVYmXfG5L1Oqy9fUV6hk2VO7B9WER0cE_BdFhciGlFrrsZVWa9-GRIKJqYwyID4F8LQct_QPrrAt4VtNwFsBoCcOMVju4-30cck9gOeO_g_cfyK6pna_0827f6DQsG3x7w_ZBVk2QP5z_HZgl1ObrjntJVX4VlhQN7HfWIRr1e-9siyjSATrxITVFm7db7H3yv4C7bDieuaJVpcbLAaEoq5TOnesK6Ixk2FN5is5wFOuupbSxi3TZDVMmSX0w"/>
                                    <div>
                                        <h3 class="font-bold text-gray-900 dark:text-white">{{ job.title }}</h3>
                                        <p class="text-sm text-text-secondary-light dark:text-text-secondary-dark">
                                            {{ job.company }}</p>
                                    </div>
                                </div>
                                <span class="inline-flex items-center px-2 py-1 rounded text-xs font-medium bg-green-100 text-green-800 dark:bg-green-900/30 dark:text-green-300">
                                    {{ job.location }}
                                </span>
                            </div>
                            <div class="mb-4">
                                <div class="flex items-center gap-2 mb-2">
                                    <span class="px-2 py-0.5 rounded text-xs font-semibold bg-primary text-white">96% Fit</span>
                                    <span class="text-xs text-text-secondary-light dark:text-text-secondary-dark">{{ job.requirements }}</span>
                                </div>
                            </div>
                            <div class="bg-blue-50 dark:bg-blue-900/10 rounded-lg p-3 relative">
                                <div class="flex gap-2 items-start">
                                    <span class="material-icons text-primary text-sm mt-0.5">auto_awesome</span>
                                    <p class="text-sm text-gray-700 dark:text-gray-300 leading-snug">
                                        {{ job.description|truncatewords:25 }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="px-5 py-4 border-t border-gray-100 dark:border-gray-800 flex justify-between items-center">
                            <span class="text-sm font-medium text-gray-900 dark:text-white">$160k - $210k</span>
                            <button class="text-sm font-medium text-primary hover:text-primary-dark transition-colors flex items-center gap-1 group-hover:translate-x-1 transition-transform">
                                View Details <span class="material-icons text-sm">arrow_forward</span>
                            </button>
                        </div>
                    </article>
                {% endfor %}
            {% else %}
                <p class="mt-2 text-text-secondary-light dark:text-text-secondary-dark">
                    Currently no job found.</p>
            {% endif %}
        </div>

        <!-- turn page -->
        {% if page_obj.paginator.num_pages > 1 %}
            <div class="mt-10 flex justify-center items-center gap-2">

                <!-- Previous -->
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"
                       class="px-4 py-2 rounded-lg border border-gray-300 dark:border-gray-700 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-800 transition">
                        Previous
                    </a>
                {% else %}
                    <span class="px-4 py-2 rounded-lg border border-gray-200 text-gray-400 cursor-not-allowed">
                        Previous
                    </span>
                {% endif %}

                <!-- Page Numbers -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <span class="px-4 py-2 rounded-lg bg-primary text-white font-medium">
                            {{ num }}
                        </span>
                    {% else %}
                        <a href="?page={{ num }}"
                           class="px-4 py-2 rounded-lg border border-gray-300 dark:border-gray-700 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-800 transition">
                            {{ num }}
                        </a>
                    {% endif %}
                {% endfor %}

                <!-- Next -->
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"
                       class="px-4 py-2 rounded-lg border border-gray-300 dark:border-gray-700 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-800 transition">
                        Next
                    </a>
                {% else %}
                    <span class="px-4 py-2 rounded-lg border border-gray-200 text-gray-400 cursor-not-allowed">
                        Next
                    </span>
                {% endif %}

            </div>
        {% endif %}
    </main>
{% endblock %}
